apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-service
  namespace: cinema-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-service
  template:
    metadata:
      labels:
        app: api-service
    spec:
      containers:
      - name: api-service
        image: serv/api_service
        imagePullPolicy: Never
        envFrom:
        - configMapRef:
            name: api-service-config
        - secretRef:
            name: db-secret
        ports:
        - containerPort: 8082